@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
.section-title {
    position: relative;
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 1rem; /* Space below the title */
    color: var(--foreground); /* Use the foreground color */
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 50%;
    height: 4px;
    background: linear-gradient(90deg, #6ce5b1, rgba(0, 0, 0, 0));
    pointer-events: none;
}

.timeline-item {
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    border-left: 1px solid #374151;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #6ce5b1;
    box-shadow: 0 0 0 2px var(--foreground);
    transition: background 0.3s ease;
}
